<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="google-signin-client_id" content="1052778334112-o04lau3b9ns3moc82tqb6464d4tl5e9g.apps.googleusercontent.com">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src ="https://apis.google.com/js/api:client.js" async defer></script>
    <script>
      window.onLoadCallback = function(){
        gapi.auth2.init({
          client_id: '1052778334112-o04lau3b9ns3moc82tqb6464d4tl5e9g.apps.googleusercontent.com'
        });
      }
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
