<template>
  <div class="about">
    <div style="text-align: right;margin: 20px">
      <a href="#" @click="signOut()">Sign out</a>
    </div>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">
              Name
            </th>
            <th class="text-left">
              createdTime
            </th>
            <th class="text-left">
              Last Changed
            </th>
            <th class="text-left">
              Total Size
            </th>
            <th class="text-left">
              Shared
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in driveData"
            :key="item.name"
          >
            <td>{{ item.name }}</td>
            <td>{{ $moment(item.createdTime).format('MMMM Do YYYY, h:mm:ss') }}</td>
            <td>{{  $moment(item.modifiedTime).format('MMMM Do YYYY, h:mm:ss') }}</td>
            <td>{{ bytesToSize(item.size) }}</td>
            <td>{{ item.ownedByMe ? 'Private' : 'Public' }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
export default {
  name: 'about',
  props: ['driveData'],
  methods: {
    signOut () {
      const vm = this
      /* global gapi */
      const auth2 = gapi.auth2.getAuthInstance()
      auth2.signOut().then(function () {
        vm.$emit('callParent', false)
      })
    },
    bytesToSize (bytes, seperator = '') {
      const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB']
      if (bytes === 0 || bytes === undefined || bytes === null || bytes === '') return '0'
      const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)), 10)
      if (i === 0) return `${bytes}${seperator}${sizes[i]}`
      return `${(bytes / (1024 ** i)).toFixed(1)}${seperator}${sizes[i]}`
    }
  }
}
</script>
