<template>
  <div>
    <!-- <div
      style="height: 36px; width: 120px;margin: 0 auto;position: absolute;top: 50%;left: 0;right: 0;"
      class="g-signin2"
      @data-onsuccess="onSignIn">
    </div> -->
    <!-- <button @click="go()">Click</button> -->
    <about v-if="driveDetails" :driveData="driveData" @callParent="driveDetails=$event"/>
    <g-signin-button
      v-else
      style="cursor: pointer;width: 191px; height: 46px; position: absolute;top: 45%;left: 0;margin: 0 auto;right: 0;background-image: url('https://naanal-app-portal.s3-us-west-2.amazonaws.com/btn_google_signin_light_focus_web.png');"
      :params="googleSignInParams"
      @success="onGoogleSignInSuccess"
    ></g-signin-button>
  </div>
</template>

<script>
import about from '../views/About.vue'
// const vm = this

export default {
  name: 'HelloWorld',
  components: {
    about
  },
  data: () => ({
    googleSignInParams: {
      client_id: '1052778334112-o04lau3b9ns3moc82tqb6464d4tl5e9g.apps.googleusercontent.com'
    },
    driveDetails: false,
    driveData: [],
    temp: 0
  }),
  created () {
    console.log('created...')
    // this.getDriveDetails()
  },
  // watch: {
  //   temp: function () {
  //     this.getDriveDetails()
  //   }
  // },
  methods: {
    // onSignIn (googleUser) {
    //   var profile = googleUser.getBasicProfile()
    //   console.log('ID: ' + profile.getId()) // Do not send to your backend! Use an ID token instead.
    //   console.log('Name: ' + profile.getName())
    //   console.log('Image URL: ' + profile.getImageUrl())
    //   console.log('Email: ' + profile.getEmail()) // This is null if the 'email' scope is not present.
    // },
    onGoogleSignInSuccess: function (resp) {
      const vm = this
      // var response = JSON.stringify(resp)
      // var obj1 = response.match('"access_token":".*?"')
      // const str = obj1[0]
      // var obj = str.replace(/\\/g, '')
      // var obj2 = obj.replace(/['"]+/g, '')
      // const accessToken = obj2.split(':')[1]
      // vm.temp += 1
      vm.getDriveDetails()
    },
    getDriveDetails (accessToken) {
      var token = 'ya29.A0AfH6SMAfCUCAZQ0VmQhZos1w-R-y1hP06hSy1A_ANJF7H6iig73EUf5MHVc8J0W09fI0g9cf8uD1BBX2FnzI-lLz3Z8qAHlHLC5RXJRDtBHdouR-8bFqmlbuAMK5VqFzoPjiTMbA5MogdRmKOE4mewljZbFDXjhtiRjCIbO6Dg4'
      this.axios.get(`https://www.googleapis.com/drive/v3/files?access_token=${token}&fields=*`).then((response) => {
        this.driveData = response.data.files
        this.driveDetails = true
        console.log('drive_response', response.data.files)
      })
    }
    // getDriveDetsils (accessToken) {
    //   const { google } = require('googleapis')
    //   const credentials = require('../../credentials.json')
    //   const scopes = [
    //     'https://www.googleapis.com/auth/drive'
    //   ]
    //   const auth = new google.auth.JWT(
    //     credentials.client_email, null,
    //     credentials.private_key, scopes
    //   )
    //   const drive = google.drive({ version: 'v3', auth })
    //   drive.files.list({}, (err, res) => {
    //     if (err) throw err
    //     const files = res.data.files
    //     if (files.length) {
    //       files.map((file) => {
    //         console.log(file)
    //       })
    //     } else {
    //       console.log('No files found')
    //     }
    //   })
    //   // const data = {
    //   //   auth_key: 'AIzaSyAEz_zKLr1apaRI2Cr4Z2q1bjfmM6cjPhM',
    //   //   client_id: '1052778334112-o04lau3b9ns3moc82tqb6464d4tl5e9g.apps.googleusercontent.com',
    //   //   access_token: accessToken,
    //   //   pageSize: 10
    //   // }
    //   // this.axios.post('https://www.googleapis.com/auth/drive.file?').then((response) => {
    //   //   console.log(response.data)
    //   // })
    // }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
